@{
    ViewData["Title"] = "Inicio";
}
<h1>@ViewData["Title"]</h1>

<body>
    <header class="bg-light py-3">
        <div class="container">
            <h1 class="text-center">Bienvenido al Sistema de Inventario</h1>
            <nav class="text-center">
                <p>SISTEMA DE INVENTARIO DE VALORES</p>
            </nav>
        </div>
    </header>

    <main class="my-4">
        <div class="container">
            <section>
                <h2 class="text-center">Resumen</h2>
                <p class="text-center">Esta es la página de inicio del sistema de inventario. Aquí puedes gestionar productos, clientes, marcas, categorías y empleados.</p>
            </section>
        </div>
    </main>

    <footer class="bg-light text-center py-3">
        <div class="container">
            <p>&copy; 2024 Sistema de Inventario</p>
        </div>
    </footer>
</body>
